header
 {
    background-color:#778A50;
    /*text-align: left;*/
   /* padding-left: 160px;*/
    width: 940px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 0px;
    left: 0px;
 }

 h3
 {
  width: 50px;
 height:50px;
 position: absolute;
 top: 0px; 
 left:0px;
 z-index:10000;
 /*padding-left: 20px;*/
 /*list-style: none;*/
 /*margin-left: 869px;*/
 }

 h4
 {
  width: 50px;
  height:50px;
 position: absolute;
 top:  15px; 
 left:1150px;
 z-index:9999;
 }
 
 h2
 {
   background-color:rgb(251, 252, 249);
   line-height: 80px;
    width: 1100px;
    height: 80px;
    padding-left: 300px;
    border-style:solid;
    border-width: 3px;
    border-color:Black;
    position: absolute;
    top: 0px;
    left: 0px;
   
  }
  

  
h5 {
  /*text-align: center;
  margin-top: 200px;*/
  width: 1200px; 
  height: 500px;
  position: absolute;
  top: 200px;
  left: 60px;
 }

 p1
 { /*text-align: center;
   margin-top: -300px;
  padding-left: 10px;*/
  float:left;
 list-style: none;
 margin-left: 80px;
 color:white;
 font-family: Yu Gothic UI Semiblod white;
 font-size: 40px;
 z-index:10000;
 position: absolute;
 top: 450px;
 left: 250px;
 z-index:9999;
 }

 p3
 {
 
  float:left;
 list-style: none;
 color:black;
 font-family: Yu Gothic UI Semiblod black;
 font-size: 30px;
 position: absolute;
 top: 1215px;
 left: 150px;
}

p4
{

 float:left;
list-style: none;

color:black;
font-family: Yu Gothic UI Semiblod black;
font-size: 30px;
position: absolute;
top: 820px;
left: 900px;
}

p10
{

  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 35px;
  position: absolute;
  top: 1500px;
  left: 520px;
}

p11
{

  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 25px;
  position: absolute;
  top: 1900px;
  left: 200px;
  z-index: 10000;
}

p12
{

  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 25px;
  position: absolute;
  top: 1900px;
  left: 600px;
  z-index: 10000;
}

p13
{

  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 25px;
  position: absolute;
  top: 1900px;
  left: 1070px;
  z-index: 10000;
}
p14
{
  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 20px;
  position: absolute;
  top: 2140px;
  left: 100px;
}
p17
{
  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 20px;
  position: absolute;
  top: 2140px;
  left: 500px;
}
p15
{
  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 15px;
  position: absolute;
  top: 2200px;
  left: 100px;
}
p16
{
  float:left;
  list-style: none;
  color:black;
  font-family: Yu Gothic UI Semiblod black;
  font-size: 15px;
  position: absolute;
  top: 2200px;
  left: 500px;
}



 h6
{
 position: absolute;
  top: 797px;
left:100px;

}

h7
{
   position: absolute;
  top: 900px;
  left: 800px;
/*margin-right: 10px;*/
}

  

  li{ 
    padding-left: px;
    float:left;
   list-style: none;
   margin-right: 80px;
   color: black;
   font-family: Yu Gothic UI Semiblod Black;
   font-size: 20px;
  
   
  }
 
  h8
{
   position: absolute;
   top: 1600px;
   left:100px;

}

h9
   {position: absolute;
   top: 1600px;
   left:500px;

}
h10
{
  position: absolute;
   top: 1600px;
   left:1000px;
  }
h15
{
  position: absolute;
   top: 2200px;
   left:1000px;
}

  h18
  {
    position: absolute;
    top: 1500px;
}

  h19
  {
    position: absolute;
    top: 1500px;
    left:800px;
}


  footer {
    background-color:slategrey;
    text-align: center;
    width: 1400px;
    height :60px;
    line-height:60px;
    position: absolute;;  
    top: 2380px;
    font-family:  Yu Gothic UI Semiblod Black;
    font-size: 20px;
    color:black;
    text-decoration: underline;
   text-decoration-color:black;
  }

p9
{  
  
    border-style:solid;
    border-width: 3px;
    border-color:Black;
  background-color:white;
  text-align: center;
  width: 250px;
  height :40px;
  line-height:40px;
  position: absolute;;  
  top: 580px;
  left:550px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif black;
  font-size: 15px;
  color:black;
  z-index:10001;
}

h14
{
  position: absolute;;  
  top: 593px;
  left:760px;
  z-index:10004;

}